<div class="row g-4 mb-4" th:fragment="section">
    <div class="col-xl-3 col-md-6">
        <div class="card dashboard-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="text-muted">Tổng Người Dùng</h6>
                        <h3 th:text="${allUsers.size()}">2,456</h3>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card dashboard-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="text-muted">Số Lượng Thành Tựu</h6>
                        <h3 th:text="${achievements.size()}"></h3>
                    </div>
                    <div class="card-icon">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card dashboard-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="text-muted">Thử Thách Chờ Duyệt</h6>
                        <h3 th:text="${pendingChallenge.size()}">12,345</h3>
                    </div>
                    <div class="card-icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card dashboard-card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="text-muted">Người Dùng Mới</h6>
                        <h3 th:text="${newUsers.size()}">128</h3>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>